body {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  font-size: 16px;
}

/* Logo */
.nav-logo {
  width: 110px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-top: 12px;
  margin-bottom: 12px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav a.current-page {
  text-decoration: underline;
  text-decoration-thickness: 3px; /* Adjust thickness */
  text-underline-offset: 5px; /* Move underline further away */
  font-weight: bold;
  transition: font-weight 0.3s ease;
}

nav a.current-page {
  color: #5d6ff3 !important;
}
