body {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  font-size: 16px;
}

/* Logo */
.nav-logo {
  width: 110px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-top: 12px;
  margin-bottom: 12px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav a.current-page {
  text-decoration: underline;
  text-decoration-thickness: 3px; /* Adjust thickness */
  text-underline-offset: 5px; /* Move underline further away */
  font-weight: bold;
  transition: font-weight 0.3s ease;
}

nav a.current-page {
  color: #5d6ff3 !important;
}

.container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 120px; /* Space between text and image */
  padding: 40px;
  max-width: 1000px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
  margin-top: 48px;
}

.text-content {
  flex: 1; /* Take up remaining space */
  text-align: left; /* Align text to the left */
  font-size: 1.1rem;
  line-height: 1.5;
}

.image-content {
  flex: 0 0 400px; /* Fixed width for image */
  margin-top: 32px;
}

.content-image {
  width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}

.link {
  color: #5d6ff3;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items */
    align-items: center;
    text-align: center;
    gap: 20px; /* Reduce space between image and text */
    padding: 20px; /* Adjust overall padding */
  }

  .image-content {
    order: -1; /* Move image above text */
    margin-bottom: 15px; /* Control space below image */
  }

  .text-content {
    text-align: left;
    width: 90%; /* Keep text from stretching too wide */
  }
}
